.valitor-3d-verification #main {
  position: inherit;
}

.non-clickable:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.card-verification-warning {
  display: none;
}

.non-clickable .card-verification-warning {
  position: fixed;
  top: 40%;
  left: 20%;
  width: 60%;
  height: 200px;
  background: white;
  z-index: 11;
  font-size: larger;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 40px 20px;
}
